body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

.high-scores {
  color: rgb(243, 111, 255);
  font-size: 20px;
  margin: 20px 0 0 20px;
}

.high-scores:hover {
  color: indigo;
}

.time-counter {
  font-size: 20px;
  margin: 20px 20px 0 0;
}

.container {
  text-align: center;
  margin: auto 650px;
}

.container h2 {
  font-size: 44px;
}

.container p {
  font-size: 24px;
  font-weight:600;
}

button {
  background:indigo;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  width: 150px;
}

button:hover {
  background:rgb(243, 111, 255);
}

.container ul {
  list-style-type:none;
}

.container ul li {
  margin: 10px 0;
}

.answer-feedback {
  font-size: 26px;
  border-top: solid 2px gray;
  color: gray;
  display:block;
  text-align: left;
}

/* submit score form style */
.submit-container span {
  font-size: 24px;
}

.submit-container input {
  border: 2px solid;
  height: 34px;
  margin: 15px;
  width: 220px;
  font-size: 20px;
}

.submit-container #submit-btn {
  width: 100px;
  height: 34px;
  background:indigo;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
/* submit score form style end */

/* high scores style */
#answer-container #highscore-li {
  color:black;
}

#answer-container ol {
  background:rgb(209, 177, 209);
  font-size: 20px;
}

#answer-feedback-container button {
  width:max-content;
  margin: 0 15px;
}
