body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

.high-scores {
  color: rgb(104, 0, 104);
  font-size: 20px;
}

.time-counter {
  font-size: 18px;
}

.container {
  text-align: center;
  margin: auto 650px;
}

.container h2 {
  font-size: 44px;
}

.container p {
  font-size: 24px;
  font-weight:600;
}

button {
  background:rgb(104, 0, 104);
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

button:hover {
  background:rgb(243, 111, 255);
}

.container ul {
  list-style-type:none;
}

.container ul li {
  margin: 10px 0;
}

.submit-container span {
  font-size: 24px;
}

.submit-container input {
  border: 2px solid;
  height: 34px;
  margin: 15px;
  width: 220px;
  font-size: 20px;
}

.submit-container #submit-btn {
  width: 100px;
  height: 34px;
  background:rgb(104, 0, 104);
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
